body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr; /* Colonne de gauche de 100px et colonne de droite qui prend le reste */
  grid-template-rows: auto 1fr; /* Ligne 1 prend son contenu et la ligne 2 prend le reste */
  grid-template-areas:
    "header header"
    "sidebar main"; /* Définit la disposition des éléments dans la grille */
}

/* Ligne 1 (entête) */
header {
  grid-area: header;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Ligne 2 : colonne de gauche (sidebar) */
aside {
  grid-area: sidebar;
  background-color: #f4f4f4;
  padding: 10px;
  height: 100%;
}

/* La colonne de droite (main) */
main {
  grid-area: main;
  padding: 10px;
  background-color: #ddd;
}

/* Rendre la colonne de gauche divisée en 5 lignes égales */
aside {
  display: grid;
  grid-template-rows: repeat(5, 1fr); /* Divise la colonne en 5 lignes égales */
}

/* Style des éléments dans la colonne de gauche */
aside > div {
  background-color: #ccc;
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px; /* Hauteur minimale pour voir le contenu */
}

aside > div p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

/* La carte prend toute la hauteur de la zone main */
#map { 
  height: 100%; 
  width: 100%;
}

.invisible-marker {
    background: transparent;
    border: none;
}

.label-jules {
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.label-telephone {
    background-color: white;
    border: 2px solid #FF5722;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}